
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Montserrat:wght@300;400;500;600;700&family=Mulish:ital,wght@0,300;0,900;1,600&family=Poppins:wght@200;300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif
}
.navbar{
  background-color: #fff !important;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar-brand:hover{
  color: #3498db !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}
.navbar-nav{
  margin-left: auto !important;
}
#hi{
  font-weight: 600;

}
.nav-link{
   color: #565387 !important;
}
.nav-link:hover{
  color: #3498db !important;
}
.active{
  font-weight: bold;
  /* border-bottom: 2px  solid #3498db; */
}
.btn{
  border-radius: 50px !important ;
  border-color: #3498db !important;;
}
.brand-name{
  color: #3498db !important;
}
.home{
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  margin-top:100px;
}
.home1{
  margin-top:100px !important;
}
.header-img{
  text-align: right;
  /* animation: up-down 2s ease-in-out infinite alternate-reverse both; */
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
 0%{
  transform: translateY(10px);
 }
 100%{
  transform: translateY(-10px);
 }
}
@keyframes up-down{
  0%{
   transform: translateY(10px);
  }
  100%{
   transform: translateY(-10px);
  }
 }

